html {
    scroll-behavior: smooth;
  }

.fondo{
    background-color: white;
}

.letrauno{
    font-family: 'Lato', sans-serif;
}



.imgherramientas{

    height: auto;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}


.linkherramientas {
   text-decoration: none; 
}


.nolinkcolor{

    text-decoration: none;
}




.efecto > :hover{

    background-color: whitesmoke !important; 
} 



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Oculta las flechas en los campos de entrada numéricos */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Oculta las flechas en los campos de entrada numéricos en navegadores basados en Gecko */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield; /* para navegadores basados en WebKit */
}

@media (max-width: 767px) {
    body {
      max-width: 100%;
      overflow-x: hidden;
    }
  }


.bgUno{


    background: #C02425;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.cbgOrange{

    background-color: rgb(248, 132, 0) !important;;
   
  
    
}

.cOrange {


    color: rgb(248, 132, 0);;
}

.cnav {

background: #FDC830;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





.cTitulo {

    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    



}



